/* General Page Layout */
.pageBackground {
  background-color: var(--pale-green);
  color: var(--dark-blue);
  min-height: 87vh;
  text-align: center;
  margin: 0;
}

/* Home Page */

.homePageSubTitle {
  padding: 50px;
  margin: 20px;
  background-color: var(--teal);
  border-radius: 50px;
  border: solid 20px var(--dark-blue);
  color: var(--pale-green);
}

.googleSearchContainer {
  background-color: var(--dark-blue);
  border-radius: 50px;
  border: solid 20px var(--teal);
  margin: 20px;
}

.turtleImg {
  width: 15%;
  height: 25%;
  border-radius: 50px;
  margin-top: 20px;
}
/* About Me Page */

.profilePic {
  width: 15%;
  height: 25%;
  border-radius: 50px;
  margin-top: 20px;
}
/* Blog Page Styles */

.blogCard {
  width: 75%;
  margin: auto;
  padding: 20px;
}

.blogPageLayout {
  padding: 20px;
}

.blogReadMoreButton {
  background-color: var(--teal) !important;
  border: solid 10px var(--teal) !important;
}

.custom-modal-dialog {
  max-width: 1000px !important; /* Adjust the width as per your requirement */
}

.modalImages {
  width: 60%;
  display: flex;
  margin: auto;
}

.blogPageTitle {
  padding: 20px;
}

.backgroundBlogPicture {
  background-image: url(../images/maldives.jpeg);
  width: 98%;
  margin: auto;
  height: 300px;
  background-position: center center;
  padding-bottom: 100px;
  background-size: cover;
  background-repeat: no-repeat;
  border: solid 10px var(--dark-blue);
  border-radius: 40px;
}

.blogText {
  font-size: 2em;
  padding: 20px;
}

.blogCard {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

/* Contact Page */

.contact {
  font-size: 400%;
}

.contactText {
  text-align: center;
  margin: 0 auto 50px auto;
  padding: 20px;

  font-size: 1rem;
  font-weight: bold;

  border-radius: 20px;
  width: 80%;
}

.buttonGroup {
  margin-top: 1%;
  margin-bottom: 10%;
}

.fa {
  font-size: 6rem;
  font-weight: bold;
  color: var(--dark-blue);
}

.fa:hover {
  font-size: 5rem;
  color: var(--teal);
}

span {
  display: flex;
  justify-content: space-around;
  margin: 0% 20% 0% 20%;
  align-items: center;
}

.contactMeForm {
  width: 80%;
  border: solid 10px var(--dark-blue);
  margin: auto;
  border-radius: 60px;
  padding: 10px;
}

/* Page Not Found */

.notFoundPageContainer {
  width: 100%;
  height: 85vh;
  background-color: var(--pale-green);
}

.notFoundPageInner {
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.notFoundPageContent {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  width: 80%;
}

.notFoundPageContent div {
  width: 100%;
  height: 100%;
  min-height: 400px;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: flex-start;
}

.notFoundPageContent div:nth-child(1) {
  justify-content: center;
  align-items: center;
}

.notFoundPageContent p {
  font-size: 1rem;
}

.notFoundPageContent span {
  font-size: 2rem;
}

.notFoundPageContent img {
  display: flex;
  width: 100%;
}
